<div class="container">
    <form #f="ngForm" class="login" (ngSubmit)="submitLoginHandler(f.value)">

        <fieldset>
            <h2>Login Form</h2>

            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input #userEmail="ngModel" ngModel required pattern="[a-zA-Z-\.]{6,}@\w+\.(bg|com)" class="input-error" type="email" name="email" id="email" >
            </p>
            <p *ngIf="userEmail.touched && userEmail.errors?.required" class="error">
                Email is required!
            </p>
            <p *ngIf="userEmail.touched && userEmail.errors?.email" class="error">
                Email is not valid!
            </p>

            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input #userPassword="ngModel" ngModel required minlength="4" type="password" name="password" id="password" placeholder="******">
            </p>
             <p class="error" *ngIf="userPassword.touched && userPassword.errors?.required">
                Password is required!
            </p>
            <p *ngIf="userEmail.touched && userEmail.errors?.minlength" class="error">
                Password must be at least 4 characters!
            </p>

            <button [disabled]="f.invalid">Login</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/user/register">Register</a>
            </p>

        </fieldset>
    </form>
</div>